OPENROUTER_API_KEY=your_openrouter_key_here
SLACK_BOT_TOKEN=your_slack_token_here
POSTGRES_USER=sedar_user
POSTGRES_PASSWORD=sedar_pass
POSTGRES_DB=sedar_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
